@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/*-----------CSS RESET------------- */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*-----------------CUSTOM VARIABLES----------------- */

:root {
  /*primary colors */
  --moderate-violet: hsl(263, 55%, 52%);
  --very-dark-grayish-blue: hsl(217, 19%, 35%);
  --very-dark-blackish-blue: hsl(219, 29%, 14%);
  --white: hsl(0, 0%, 100%);

  /*neutral colors */
  --light-gray: hsl(0, 0%, 81%);
  --light-grayish-blue: hsl(210, 46%, 95%);
}

/*-----------------BODY + GENERAL STYLES */

body {
  font-family: "Barlow Semi Condensed", system-ui;
}

img.card__author-img {
  border-radius: 50%;
}

/*------------------MAIN CONTAINER STYLES------------ */
.container {
  /*add some padding everywhere nothing should touch the edges  */
  padding: 1em;
  background-color: var(--light-grayish-blue);
}

/*--------------------SECTION STYLES------------------- */

/*------------------CARD STYLES--------------------- */
.card {
  border: 8px solid red;
  border-radius: 12px;
  margin-block: 2em;
  padding: 0 1em 1em 1em; /*the svg img is touching the top edge */
  width: 100%; /*remember to limit width for desktop screen otherwise card gets too big */
}

.card__header.flexbox-container {
  display: flex;
  gap: 0.5em;
}

.card__wrapper-author-status,
.card__author-img {
  /*both logo and text don't touch the top edge of card */

  margin-block-start: 1rem;
}

.card__wrapper-author-status {
  text-wrap: nowrap; /*stop "verified graduate text from going to next line" */
  font-size: 0.6rem;
  color: var(--white);
}
.card__wrapper-author-status > * {
  /*targets h3 and h4 inside of wrapper */
  font-weight: 500;
}
.card__wrapper-author-status h4 {
  opacity: 0.5;
}

.card__bold-text {
  font-size: 1rem;
  line-height: 1.5;
}

.card__lighter-text {
  /*this paragraph seems a bit bigger than the status text */
  font-size: 0.85rem;
  opacity: 0.7;
  color: var(--white);
  line-height: 1.5;
}

/*---------------------------CARD ONE STYLES----------------  */
/* issue: at very small screen the layout for this card doesn't work
the bold text covers the card header text when screen is between 320px - 412px(fixes itself by 400px) 
*/

.card.grid-item-1 .card__bold-text {
  /*the first card's bold text is in front of the big quotation svg image */
  position: relative;
  top: -22px;
  color: var(--white);
  font-weight: 600;
}

.card.grid-item-1 {
  background-color: var(--moderate-violet);
}
.card img[src$=".svg"] {
  /*only targets  svg image  big quotations */
  margin: 0 0 0 auto;
  opacity: 0.75;
  /* flex-grow: 1; */

  max-inline-size: 35%; /*limit the size of the svg image,and stops it from getting too big at larger screen size */
}

/*--------------------ATTRIBUTION STYLES--------------- */
.attribution {
  font-size: 0.9rem;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
