@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/*-----------CSS RESET------------- */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*-----------------CUSTOM VARIABLES----------------- */

:root {
  /*primary colors */
  --moderate-violet: hsl(263, 55%, 52%);
  --very-dark-grayish-blue: hsl(217, 19%, 35%);
  --very-dark-blackish-blue: hsl(219, 29%, 14%);
  --white: hsl(0, 0%, 100%);

  /*neutral colors */
  --light-gray: hsl(0, 0%, 81%);
  --light-grayish-blue: hsl(210, 46%, 95%);
}

/*-----------------BODY + GENERAL STYLES */

body {
  font-family: "Barlow Semi Condensed", system-ui;
}

img.card__author-img {
  border-radius: 50%;
}

/*------------------MAIN CONTAINER STYLES------------ */
.container {
  /*add some padding everywhere nothing should touch the edges  */
  padding: 1em;
  background-color: var(--light-grayish-blue);
}

/*--------------------SECTION STYLES------------------- */

/*------------------CARD STYLES--------------------- */
.card {
  border-radius: 12px;
  margin-block: 1.5em;
  padding: 0 1em 1em 1em; /*the svg img is touching the top edge */
  width: 100%; /*remember to limit width for desktop screen otherwise card gets too big */
}

.card .card__bold-text {
  /*target the bold-text class of all cards */
  margin-block: 1rem;
}

.card__header.flexbox-container {
  display: flex;
  align-items: center; /*the author img and the text next to it are vertically aligned */
  gap: 0.5em;
}

.card__wrapper-author-status,
.card__author-img {
  /*author img and author name + status text should'nt touch the top edge of card */
  margin-block-start: 1rem;
}

.card__wrapper-author-status {
  text-wrap: nowrap; /*stop "verified graduate text from going to next line" */
  font-size: 0.6rem;
  color: var(--white);
}
.card__wrapper-author-status > * {
  /*targets h3 and h4 inside of wrapper */
  font-weight: 500;
}
.card__wrapper-author-status h4 {
  opacity: 0.5;
}

.card__bold-text {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 600;
}

.card__lighter-text {
  /*this paragraph seems a bit bigger than the status text */
  font-size: 0.85rem;
  opacity: 0.7;
  color: var(--white);
  line-height: 1.5;
}

/*---------------------------CARD ONE STYLES----------------  */

.card.grid-item-1 {
  background-color: var(--moderate-violet);
  background-image: url(images/bg-pattern-quotation.svg);
  background-repeat: no-repeat;
  background-position: 95% 0%; /*put the quotation marks to the top left corner(first val controls the horizontal axis)  */
}

.card.grid-item-1 .card__bold-text {
  color: var(--white);
}

/*------------------------CARD TWO STYLES--------------- */
.card.grid-item-2 {
  background-color: var(--very-dark-grayish-blue);
}
.grid-item-2 .card__bold-text {
  color: var(--white);
}

/*----------------------CARD THREE STYLES------------ */

.card.grid-item-3 {
  background-color: var(--white);
}

.card.grid-item-3 .card__lighter-text,
.card.grid-item-3 .card__wrapper-author-status {
  /*all text inside the third card is black */
  color: black;
}

/*--------------------------CARD FOUR STYLES------------- */

.card.grid-item-4 {
  background-color: var(--very-dark-blackish-blue);
}
.card.grid-item-4 .card__bold-text {
  color: var(--white);
}

/*--------------------------CARD FIVE STYLES------------- */
.card.grid-item-5 {
  background-color: var(--white);
}

.card.grid-item-5 .card__wrapper-author-status,
.card.grid-item-5 .card__lighter-text {
  color: black;
}

/*--------------------ATTRIBUTION STYLES--------------- */
.attribution {
  padding-bottom: 0.5em; /*add a bit padding so the attribution text doesn't touch the bottom edge of the container */
  font-size: 0.72rem;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/*--------------------MEDIA QUERY---------------  */
/*
1000px br */
@media screen and (min-width: 50rem) {
  .container {
    /*container should take up the full viewport */
    min-height: 100vh;

    /*center grid and attribution */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .grid-container {
    max-inline-size: 1200px; /*limit size of grid */

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 0.5fr 0.5fr;
    /*the rows will affect the cards height and stop them from getting too tall */
    column-gap: 1.25em;
    row-gap: 1.25em;
  }
  .card {
    margin-block: 0; /*removing the top and bottom margin on all cards fixes the layout a bit
    if i keep the top/bottom margin on the card it makes the grid layout -more specifically the rows- look weird
    */
  }

  .card.grid-item-1 {
    grid-column: 1 / 3;
    grid-row: 1/2;
  }
  .card.grid-item-2 {
    grid-column: 3 / 4;
    grid-row: 1/1;
  }
  .card.grid-item-3 {
    grid-column: 1 / 2;
    grid-row: 2/2;
  }
  .card.grid-item-4 {
    grid-column: 2 / 4;
    grid-row: 2/2;
  }
  .card.grid-item-5 {
    grid-column: 4 / 5;

    grid-row: 1 / -1;
    /* must starts at 1 and end at -1 or 3 otherwise fifth card(Kira whittle) doesn't take up the full row 
    and it causes the other cards to be too tall.
    if i look closely to the left of "Daniel and Jeanette" I can see the following small numbers: 1 2 3 these are the row lines
    so even though i created two rows i have three grid -row -lines but two row tracks
    the row position for the fifth card must end at -1 or 3 so the other 2 cards(Daniel, Jonathan) are not stretched out 
    */
  }
  .attribution {
    padding-top: 1em;
  }
}
